
.collapsible {
  background: url(../images/plus1.png)no-repeat 121px 1px;
  color: #000000;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	padding: 0.7em 2.2em;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border: 1px solid #5eb703;
	margin: 2.5em 0em 0em 2em;
}
#blink {
  transition: 0.01s;
}
.more1:hover{
	color: #5eb703;
}
.collapsible:hover span::after{opacity :1;
nav-down: 0;}
.collapsible:hover span{
  padding-right:25px;
}

.active, .collapsible:hover {
  color: white;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


